{% extends 'base.html' %}


{% block content %}
    <h1>Users</h1>

    <ol>
        {% for user in users %}
        <li>{{user.username}}</li>
        {% endfor %}
    </ol>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
           {% for user in users %}
                <tr>
                    <td>
                        <a href="{% url 'login:detail' user.username %}">{{ user.username }}</a>
                    </td>
                    <td>{{user.username}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}